<% if user_signed_in? %>
  <p>Welcome <%= current_user.name %>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></p>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>